:root{
    --bcg-color:#D6EFD8;
    --primary-color:#1A5319;
    --border-radius:8px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--bcg-color) ;
}

.box{
  margin-top: 10%;
    background-color: var(--primary-color);
    padding: 30px;
    width: 400px;
    border-radius: var(--border-radius);
}
.qr-header h1{
    font-size: 26px;
    text-align: center;
    color: white;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.qr-header input{
    width: 100%;
    margin-block: 12px;
    height: 40px;
    border-radius: var(--border-radius);
    padding: 10px;
    outline: none;
}
.qr-header input, select{
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    border: 2px solid  #1a8caf;
}

.qr-header , label{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.qr-header div{
    display: flex;
    justify-content: space-between;
    
}

.qr-body{
    display:grid;
    place-items: center;
}

.qr-footer a{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 14px 36px;
    margin-inline: 2px;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: var(--border-radius);
}

.qr-footer {
    
    display: flex;
    justify-content: center;
    padding: 20px;
}

.qr-body img{
    max-width: 100%;
    max-height: 100%;
    margin-block:10px ;
    padding: 20px;
    border: 0.5px solid white;
    border-radius: 8px;
}

@media screen  and (max-width:520px){
    .box{
        width: 80%;
    }
    .qr-footer a{
        padding: 12px;
        font-size: 15px;
    }
    .qr-body img{
        max-width: 50%;
        max-height: 50%;
        margin-block:10px ;
        padding: 20px;
        border: 0.5px solid white;
        border-radius: 8px;
    }
    
}